Persistence/obj/Debug/net8.0/refint/Persistence.dll
Persistence/obj/Debug/net8.0/ref/Persistence.dll
Persistence/obj/Debug/net8.0/Persistence.sourcelink.json
Persistence/obj/Debug/net8.0/Persistence.pdb
Persistence/obj/Debug/net8.0/Persistence.dll
Persistence/obj/Debug/net8.0/Persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/net8.0/Persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/net8.0/Persistence.csproj.AssemblyReference.cache
Persistence/obj/Debug/net8.0/Persistence.assets.cache
Persistence/obj/Debug/net8.0/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net8.0/Persistence.AssemblyInfo.cs
Persistence/obj/project.nuget.cache
Persistence/obj/project.assets.json
Persistence/obj/Persistence.csproj.nuget.g.targets
Persistence/obj/Persistence.csproj.nuget.g.props
Persistence/obj/Persistence.csproj.nuget.dgspec.json
Persistence/obj/Debug/net8.0/refint/Persistence.dll
Persistence/obj/Debug/net8.0/ref/Persistence.dll
Persistence/obj/Debug/net8.0/Persistence.pdb
Persistence/obj/Debug/net8.0/Persistence.dll
Persistence/obj/Debug/net8.0/Persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/net8.0/Persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/net8.0/Persistence.csproj.AssemblyReference.cache
Persistence/obj/Debug/net8.0/Persistence.assets.cache
Persistence/obj/Debug/net8.0/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net8.0/Persistence.AssemblyInfo.cs
Persistence/obj/project.nuget.cache
Persistence/obj/project.assets.json
Persistence/obj/Persistence.csproj.nuget.g.targets
Persistence/obj/Persistence.csproj.nuget.g.props
Persistence/obj/Persistence.csproj.nuget.dgspec.json
Persistence/bin/Debug/net8.0/Persistence.pdb
Persistence/bin/Debug/net8.0/Persistence.dll
Persistence/bin/Debug/net8.0/Persistence.deps.json
Persistence/bin/Debug/net8.0/Domain.pdb
Persistence/bin/Debug/net8.0/Domain.dll
Domain/obj/Debug/net8.0/refint/Domain.dll
Domain/obj/Debug/net8.0/ref/Domain.dll
Domain/obj/Debug/net8.0/Domain.sourcelink.json
Domain/obj/Debug/net8.0/Domain.pdb
Domain/obj/Debug/net8.0/Domain.dll
Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net8.0/Domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net8.0/Domain.assets.cache
Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
Domain/obj/project.nuget.cache
API/reactivities.db
API/reactivities.db-shm
API/reactivities.db-wal
API/bin/Debug/net8.0/API.deps.json
API/bin/Debug/net8.0/API.dll
API/bin/Debug/net8.0/API.exe
API/bin/Debug/net8.0/API.pdb
API/bin/Debug/net8.0/Application.dll
API/bin/Debug/net8.0/Application.pdb
API/bin/Debug/net8.0/appsettings.Development.json
API/bin/Debug/net8.0/Domain.dll
API/bin/Debug/net8.0/Domain.pdb
API/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
API/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
API/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
API/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
API/bin/Debug/net8.0/Microsoft.Data.Sqlite.dll
API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Sqlite.dll
API/bin/Debug/net8.0/Microsoft.Extensions.Identity.Core.dll
API/bin/Debug/net8.0/Microsoft.Extensions.Identity.Stores.dll
API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
API/bin/Debug/net8.0/Persistence.dll
API/bin/Debug/net8.0/Persistence.pdb
API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.g.targets
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net8.0/API.AssemblyInfo.cs
API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net8.0/API.assets.cache
API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net8.0/API.dll
API/obj/Debug/net8.0/API.pdb
API/obj/Debug/net8.0/API.sourcelink.json
API/obj/Debug/net8.0/apphost.exe
API/obj/Debug/net8.0/ref/API.dll
API/obj/Debug/net8.0/refint/API.dll
Application/bin/Debug/net8.0/Application.deps.json
Application/bin/Debug/net8.0/Application.dll
Application/bin/Debug/net8.0/Application.pdb
Application/bin/Debug/net8.0/Domain.dll
Application/bin/Debug/net8.0/Domain.pdb
Application/bin/Debug/net8.0/Persistence.dll
Application/bin/Debug/net8.0/Persistence.pdb
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.g.targets
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net8.0/Application.assets.cache
Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net8.0/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/net8.0/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/net8.0/Application.dll
Application/obj/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.sourcelink.json
Application/obj/Debug/net8.0/ref/Application.dll
Application/obj/Debug/net8.0/refint/Application.dll
Domain/bin/Debug/net8.0/Domain.deps.json
Domain/bin/Debug/net8.0/Domain.dll
Domain/bin/Debug/net8.0/Domain.pdb
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net8.0/Domain.assets.cache
Domain/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/net8.0/Domain.dll
Domain/obj/Debug/net8.0/Domain.pdb
Domain/obj/Debug/net8.0/ref/Domain.dll
Domain/obj/Debug/net8.0/refint/Domain.dll
Persistence/bin/Debug/net8.0/Domain.dll
Persistence/bin/Debug/net8.0/Domain.pdb
Persistence/bin/Debug/net8.0/Persistence.deps.json
Persistence/bin/Debug/net8.0/Persistence.dll
Persistence/bin/Debug/net8.0/Persistence.pdb
Persistence/obj/Persistence.csproj.nuget.dgspec.json
Persistence/obj/Persistence.csproj.nuget.g.props
Persistence/obj/Persistence.csproj.nuget.g.targets
Persistence/obj/project.assets.json
Persistence/obj/project.nuget.cache
Persistence/obj/Debug/net8.0/Persistence.AssemblyInfo.cs
Persistence/obj/Debug/net8.0/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net8.0/Persistence.assets.cache
Persistence/obj/Debug/net8.0/Persistence.csproj.AssemblyReference.cache
Persistence/obj/Debug/net8.0/Persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/net8.0/Persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/net8.0/Persistence.dll
Persistence/obj/Debug/net8.0/Persistence.pdb
Persistence/obj/Debug/net8.0/ref/Persistence.dll
Persistence/obj/Debug/net8.0/refint/Persistence.dll
